venv/
.env
__pycache__/
*.pyc
data/*.csv
.vscode/
data/*.parquet
data/raw/
test.py
data/silver_stream/
data/*.parquet
data/gold/
data/silver_stream/
data/raw/
data/gold_airflow/
airflow/logs/
.env
silver_log.txt
gold_log.txt
data/checkpoints/
